<div class="jumbotron">
    <h5>⚠️TMS will be read-only from 5PM on Monday, December 16, 2024, through 9AM on Monday, January 6, 2025.</h5>

    <hr>

    <p>During this time, you can reference TMS and run reports.</p>

    <p>💥If you enter any data into TMS after 5PM on Monday, December 16 you will need to reenter the data into TMS Collections when we go live on January 6 at 9AM.💥</p>

    <hr>

    <p>All entries made in TMS prior to 11:59 PM on Sunday, December 15 will be exported to the HAMs website.</p> 

    <p>No data will be exported from TMS to the HAMs website from 12:00 AM, Monday, December 16, 2024 through 9:00 AM Monday, January 6, 2025.</p>

    <p>We will resume exporting data from TMS to the HAMs website the morning of Tuesday, January 7, 2025.</p>
</div>
