<h1 class="centered">Test</h1>

<div class="row">
    <div class="col-sm-4">
        <div class="card mb-5">
            <div class="card-body">
                <h2 class="card-title">TMS Documentation</h2>

                <p class="lead">Cataloguing Guides</p>
                
                <p class=""><a target="_blank" href="https://wiki.harvard.edu/confluence/display/hamintranet/Data+Entry+Shortcuts">Data Entry Shortcuts</a></p>
                <p class=""><a target="_blank" href="https://wiki.harvard.edu/confluence/display/hamintranet/Media+Module">Media Module</a></p>

            </div>
        </div>
    </div>
</div>